@import url(reset.css);


.backslash
{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');
}

.outline-h1
{
    display: none !important;
}


/* ----------- Header -------------- */
#header
{
    background: #3c7194;
	color: #FFFFFF;
}

    #header>.content-box
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding: 50px;
        --line-height: 70px;
    }

        #header>.content-box>.pic-face
        {
            margin-right: 30px;
            margin-bottom: 30px;
        }

        #header>.content-box .info dt
        {
            float: left;
            width: 20%;
            text-align: center;
        }

        #header>.content-box .info dl
        {
            width: 150%;
        }
    
            #header>.content-box>.info>.definition-list>dt:nth-of-type(n)~dd:nth-of-type(n)
            {
                margin-bottom: 10px;
            }
    


/* ----------- Body -------------- */
/*****구조****************************************
    #body
        .body-aside (탭 구역)
            .content-box (탭 묶음)
                .list-tabs (탭 리스트)
                    .item-tab (탭 아이템)
                    
        <main>
            .content-box (내용 구역)
                #tab-content1 / .item-tab-content (탭 내용1)
                    .content (내용 묶음)
                        .sub-title (소제목)
                        <p> (내용)
                #tab-content2 / .item-tab-content (탭 내용2)
                    .content (내용 묶음)
                        .sub-title (소제목)
                        <p> (내용)
                #tab-content3 / .item-tab-content (탭 내용3)
                    작성 중.
*************************************************/

#body
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* ----------- Body (aside) -------------- */
#body>.body-aside>.content-box>.list-tabs
{
    display: flex;
    list-style: none;
    background: rgb(114,114,114);
    justify-content: center;
    align-items: center;
}

    #body>.body-aside>.content-box>.list-tabs>li
    {
        flex-grow: 1;
        text-align: center;
    }
    
    #body>.body-aside>.content-box>.list-tabs .item-tab
    {
        display: block;
        line-height: 70px;
		transition: background-color 500ms ease 10ms
    }
    
    #body>.body-aside>.content-box>.list-tabs>li>.item-tab:hover
    {
		background: #3c7194;
    }
    
    #body>.body-aside>.content-box>.list-tabs>li>.item-tab.active
    {
        background-color: #3c7194;
    }


/* ----------- Body (main) -------------- */
#body>main
{
    background: #ededed;
}

    #body>main>.content-box
    {
        padding: 50px;
    }

        #body>main>.content-box>.item-tab-content
        {
            display: none;
        }
        
        #body>main>.content-box>.item-tab-content.active
        {
            display: block;
        }

            #body>main>.content-box>.item-tab-content>.content
            {
                margin-bottom: 50px;
            }

        #body>main>.content-box .content-title
        {
            font-size: 200%;
            font-weight: bold;
            margin-bottom: 30px;
        }

            #body>main>.content-box .sub-title
            {
                font-size: 120%;
                font-weight: bold;
                margin-bottom: 20px;
            }

        #body>main>.content-box>#tab-content1 .sub-title
        {
            font-size: 120%;
            font-weight: bold;
            text-decoration: underline;
        }


        #body>main>.content-box .video-portfolio>img
        {
            float: left;
            margin-right: 20px;
        }

        #body>main>.content-box .video-portfolio br
        {
            clear: both;
        }


#body>main>.content-box>.item-tab-content .definition-list>dd
{
    font-size: 70%;
    margin-left: 20px;
	margin-bottom: 20px;
}

#body>main>.content-box>.item-tab-content .definition-list dd:nth-of-type(n)::before
{
    content: "* 기간(년, 월) : ";
}

#body>main>.content-box>.item-tab-content #license dd:before
{
    content: "* 취득일 : ";
}




/* ----------- Footer -------------- */
#footer>.content-box
{
    background: #2d5471;
    color: #d3d3d3;
    font-size: 70%;
    padding: 30px;
    text-align: center;
}




/* ----------- test -------------- */
.indent
{
	text-indent: 20px;
}

/* Table 1 */
main #tab-content2>#history>.table
{
    margin-left: 20px;
	border-collapse: collapse;
	width: 70%;
	height: 500px;
}

      main #tab-content2>#history>.table td
    , main #tab-content2>#history>.table th
    {
        padding: 7px;
    }

/* Table 2 */
main #tab-content2>#grade>.table
{
    margin-left: 20px;
	border-collapse: collapse;
	width: 50%;
	height: 300px;
}

    main #tab-content2>#grade>.table td:last-child:nth-child(2n)
    {
        color: lightgray;
    }

      main #tab-content2>#grade>.table td
    , main #tab-content2>#grade>.table th
    {
        padding: 7px;
        text-align: center;
    }

/* Table 3 */
main #tab-content2>#license>.table
{
    margin-left: 20px;
	border-collapse: collapse;
	width: 30%;
	height: 300px;
}

      main #tab-content2>#license>.table td
    , main #tab-content2>#license>.table th
    {
        padding: 7px;
    }


  main #tab-content2>#history>.table tr:nth-child(even)
, main #tab-content2>#grade>.table tr:nth-child(even)
, main #tab-content2>#license>.table tr:nth-child(even)
{
	background: #F2F2F2;
}

  main #tab-content2>#history>.table td
, main #tab-content2>#license>.table td
{
    text-align: center;
}

  main #tab-content2>#history>.table th
, main #tab-content2>#grade>.table th
, main #tab-content2>#license>.table th
{
    background: rgba(43,141,191, 0.5);
	color: #FFF;
	text-align: center;
    
	padding-top: 15px;
	padding-bottom: 15px;
}






/* ----- 디자인 테스트 코드 ----- */
#body>main>.content-box>#tab-content3>.content-video
{
    display: inline-block;
    background: #FFF;
    width: 40%;
    margin-left: 20px;
    margin-bottom: 50px;
}
.js-video
{
    width: 100%;
}
#body>main>.content-box>#tab-content3>.content-video:hover
{
    background: lightgray;
    cursor: pointer;
}


#body>main>.content-box>#tab-content3>.content-video p
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#body>main>.content-box>#tab-content3>.content-video #video-title
{
    font-weight: bold;
}
#body>main>.content-box>#tab-content3>.content-video #video-content
{
    font-size: 90%;
    margin-bottom: 20px;
}


/* 팝업 테스트 코드 */
main .popup
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    text-align: center;
    vertical-align: middle;
}
main .popup.show
{
    display: block;
}
main .popup>.popup-detail
{
    position: absolute;
    width: 90%;
    height: 95%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}